.bg-homeAdmi {
    background-image: url("https://m1.paperblog.com/i/615/6153346/10-mejores-ejercicios-piernas-gluteos-L-ffupAw.gif");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}