.bg-homeUsua {
    background-image: url("https://img.freepik.com/foto-gratis/pesas-ejercicio-mancuernas-hierro-placas-extra_1423-223.jpg?w=740&t=st=1667332710~exp=1667333310~hmac=95f747fce85fe349b03ac67116b2f2addc637234d63707f2b10ba35f0a88fc24");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}