.bg-homeAdmi {
    background-image: url("https://img.freepik.com/foto-gratis/ajuste-joven-levantando-pesas-ejercitandose-gimnasio_155003-4894.jpg?w=740&t=st=1667336724~exp=1667337324~hmac=fadb95ada3ff7ab05b612fe5031bbda346b973fef8cadf82c5d57c02a4da67f2");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}