/* 
    General Styles used on every website (Don't Repeat Yourself)
*/
.footer {
    background-color: black;
    position: relative;
    padding-top: 5px;
    padding-left: 100px;
    bottom: 0;
    align-self: flex-end;
}

body {
    background: linear-gradient(to right, #fc354c, #556270, black);
    width: 100%;
    height: 100%;
    background-position-x: center;
}