/* 
    General Styles used on every website (Don't Repeat Yourself)
*/
.footer {
    background-color: black;
    position: relative;
    padding-top: 5px;
    padding-left: 100px;
    bottom: 0;
}

body {
    background: linear-gradient(to right, #c23616, black);
    width: 100%;
    height: 100%;
}