.bg-loguearse {
    background-image: url("https://img.freepik.com/foto-gratis/pesos-ejercicio-pesas-fuerte-atletica_1139-709.jpg?w=740&t=st=1666969106~exp=1666969706~hmac=09dcdf270084c373981717e9305130fe2c2b0611cce24a089ef4065ce23b94be");
    background-repeat: no-repeat;
    background-size: cover;
}

.sweet-warning {
    background-color: #a00404;
}

.sweet-warning:not([disabled]):hover {
    background-color: #a00404;
}